%h1 Listing events

%table
  %tr
    %th Name
    %th Item
    %th Place
    %th Date begin


  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.item_id
      %td= event.place_id
      %td= event.date_begin


%br


