

.raw
  -@items.each do  |item|
    .span3
      .raw
        .well
          %h4=item.title
          =image_tag item.galleries.first.images.last.image.url('medium')
          -#.small
          = HTML_Truncator.truncate( item.full_text ,10 ).html_safe