%h1 Listing items

%table
  %tr
    %th title
    %th Full text
    %th Date
    %th Type


  - @items.each do |item|
    %tr
      %td= item.title
      %td= item.full_text
      %td= item.date
      %td= item.type_id

%br

