-require 'coffee-filter'
:plain
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js'></script>


%h1 Listing my_tests

#div(data-bind = "text: textvar")
  Тестовый текст
#div(data-bind = "click: fire")
  fire
:coffeescript
  MyFirstModel = ()->
    @textvar = ko.observable("tuytyu")
    @fire = ()-> alert(@textvar())
    return
  ko.applyBindings(new MyFirstModel());


:ruby
  cat = Category.find(3)
  require 'benchmark'
  Benchmark.bmbm do |x|

    x.report("Benchmark 2") do
          1.times do
            @result2 = Schedule.get_by_category2(cat)

          end
      end

  end

<br/>
<hr/>
:ruby
  Benchmark.bmbm do |x|

     x.report("Benchmark 1") do
       1.times do
         @result = Schedule.get_by_category(cat)

       end
     end

   end




