-#=paginate( @items )
%h1= @category.name
-#=render "shared/items"
-#=paginate( @items )
- @category.schedule.each do |k, v|
  =k



-#:ruby
-#   require 'benchmark'
-#
-#  Benchmark.bmbm do |x|
-#    x.report("Benchmark 1") do
-#      10.times do
-#       Schedule.get_by_category(@category)
-#      end
-#    end
-#
-#
-#
-#  end