%h1 Listing places

%table
  %tr
    %th Name
    %th Category
    %th Desc
    %th Contact


  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.category_id
      %td= place.desc
      %td= place.contact_id

%br

